* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-color: black;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100%;
  background-color: #1c2527;
}

.search_bar {
  height: 45px;
  width: 613px;
  background-color: #727879;
  border-radius: 15px;
  border: none;
}

.searchbar{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 50px;
}

input::placeholder{
    color: rgb(255, 255, 255, 0.45);
    padding-left: 45px;
    
}

.home, .destinations, .contactus{
    color: white;
    margin-right: 50px;
}
/* 
.bgimg{
    position: absolute;
    left: 615px;
} */

.content{
    color: white;
    display: flex;
    justify-content: space-between;
}

.description{
    margin-left: 25px;
    margin-top: 80px;
    font-size: xx-large;
}